* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
#root {
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 14, 18);
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
}

.weather-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}


.card-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
  height: 200px;
  width: 200px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.05),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.5),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 14, 18, 0.8);
  backdrop-filter: blur(1px);
  border-radius: inherit;
  position: absolute;
  inset: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 197px;
  width: 195.5px;
  z-index: 2;
}

@media only screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .cards {
    padding: 2.5px;
    gap: 5px;
    flex-direction: row;
  }

  .card {
    flex-direction: row;
    height: 80px;
    width: 80px;
  }

  .card>.card-content {
    height: 78.5px;
    width: 78.5px;
    inset: 1px;
  }

  br {
    display: block;
    content: "";
    margin-top: 7px;
  }
}

.search-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 3;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: 0.2s;
  height: 40px;
}

.search-bar {
  height: 30px;
  width: 300px;
  background-color: transparent;
  font-size: 16px;
  border: 0px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  outline-style: none;
  backdrop-filter: blur(0.4px);
  transition: 0.2s;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.search-icon {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  height: 40px;
  width: 40px;
}

.search-icon:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.place-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  max-height: 500px;
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 2px;
  /* padding: 10px; */
  z-index: 10;
}

.place {
  color: rgba(255, 255, 255, 0.8);
  margin: 2px;
  padding: 2px;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.loc-drop {
  position: absolute;

  height: 200px;
  width: 200px;
  z-index: 1;
}

.loc-drop>div {
  animation: growAndFade 3s infinite ease-out;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.loc-drop>.circle1 {
  animation-delay: 1s;
}

.loc-drop>.circle2 {
  animation-delay: 2s;
}

.loc-drop>.circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: .5;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.error {
  color: rgb(227, 58, 36);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.icon {
  font-size: 100px;
  color: rgb(232, 203, 18);
}

.big-text {
  font-size: 60px;
  color: rgb(232, 203, 18);
}

.mid-text {
  font-size: 20px;
  text-align: center;
}

.line {
  border-bottom: 1px solid #ccc;
  border-bottom-style: groove;
  margin: 2px;
}

.temp-text {
  font-size: 30px;
  color: rgb(232, 203, 18);
  text-align: center;
}

.yel {
  color: rgb(232, 203, 18);
}

@media only screen and (max-width: 800px) {
  .error {
    font-size: 14px;
  }

  .icon {
    font-size: 35px;
  }

  .big-text {
    font-size: 16px;
  }

  .temp-text {
    font-size: 12px;
  }

  .mid-text {
    font-size: 9px;
  }

}



.intro {
  position: absolute;
  width: 100%;
  top: 10%;
  font-size: 500px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', ' Arial Narrow', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: #f9f900;
}

@media only screen and (max-width: 800px) {
  .intro {
    font-size: 100px;
    top: 80%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(232, 196, 18, 0.7);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.water-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.water {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.water:before,
.water:after {
  position: fixed;
  content: '';
  width: 150px;
  height: 150px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, .7);
  animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, .3);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.water-text {
  position: fixed;
  color: rgba(0, 99, 129, 1);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 999;
}